.layout-content{
  padding: 0 50px;
}

.spinner{
  z-index: 1100;
}

.ant-spin{
  z-index: 1100;
}
.xml-card{
  width: 80% !important;
}
.admin-card{
  width: 80% !important;
  height: 60% !important;
  margin-top: 20px !important;

}
.car-parts-button-div{
  margin-left: 500px;
}
